<div>
  <div *ngFor="let legislator of legislators">
    <img [src]="'https://theunitedstates.io/images/congress/225x275/' + legislator.bioguide_id + '.jpg'">
    <div>
      {{legislator.first_name}} {{legislator.last_name}} -
      {{legislator.chamber === 'house' ? 'U.S. Representative' : 'U.S. Senator'}} -
      {{legislator.state_name}} {{legislator.district ? '(District ' + legislator.district + ')' : ''}} -
      {{legislator.party === 'D' ? 'Democrat' : legislator.party === 'R' ? 'Republican' : 'Independent'}}
    </div>
    <div>
      {{legislator.phone}}
    </div>
    <div>
      <button (click)="call(legislator.phone)">CALL</button>
    </div>
    <hr>
  </div>
</div>
