<div>
  <div>
    <form (ngSubmit)="findByAddress()" autocomplete="off">
      <input placeholder="Enter your address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
             class="form-control" #search [formControl]="searchControl">
      <input type="submit" value="Search" [disabled]="!search.value"/>
    </form>
  </div>
  <div>
    or
  </div>
  <div>
    <button (click)="findByLocation()">Use My Location</button>
  </div>
</div>
